#div-one {
  border: solid blue;
  padding: 32px;
  background-color: pink;
  height: 100%;
  margin: 10px 100px;
}

#div-two {
  background-color: skyblue;
  border: solid red;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 80px;
  margin-bottom: 50px;
}

#div-three {
  border: solid orangered;
  background-color: burlywood;
  margin-right: 90px;
  margin-left: 75%;
  padding: 50px 30px 50px;
}
